@charset "utf-8";
/* CSS Document */
body{
background-color: #EBEBEB;
}
*
{
 margin:0;
 padding:0;
}
#login-form
{
 margin-top:70px;
}
table
{
 border:solid #dcdcdc 1px;
 padding:25px;
 box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
table tr,td
{
 padding:15px;
 //border:solid #e1e1e1 1px;
}
table tr td input
{
 width:97%;
 height:45px;
 border:solid #e1e1e1 1px;
 border-radius:3px;
 padding-left:10px;
 font-family:Verdana, Geneva, sans-serif;
 font-size:16px;
 background:#f9f9f9;
 transition-duration:0.5s;
 box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4);
}

table tr td button
{
 width:100%;
 height:45px;
 border:0px;
 background:rgba(12,45,78,11);
 background:-moz-linear-gradient(top, #595959 , #515151);
 border-radius:3px;
 box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
 color:#f9f9f9;
 font-family:Verdana, Geneva, sans-serif;
 font-size:18px;
 font-weight:bolder;
 text-transform:uppercase;
}
table tr td button:active
{
 position:relative;
 top:1px;
}
table tr td a
{
 text-decoration:none;
 color:#00a2d1;
 font-family:Verdana, Geneva, sans-serif;
 font-size:18px;
}

/* css for home page  */

*
{
 margin:0;
 padding:0;
}
#header
{
 width:100%;
 height:50px;
 background:rgba(00,11,22,33);
 color:#9fa8b0;
 font-family:Verdana, Geneva, sans-serif;
}
#header #left
{
 float:left;
 position:relative;
}
#header #left label
{
 position:relative;
 top:5px;
 left:100px;
 font-size:35px;
}
#header #center{
	float: center;
	position: relative;
	top:20px;
	left:200px;	
}
#header #center a{
	text-decoration: none;
	font-size: 18px;
	color: #3366FF;
}
#header #center a:hover{
	color:#00a2d1;
}
#header #center a:visited{
	color: #006699;
}
#header #right
{
 float:right;
 position:relative;
}
#header #right #content
{
 //position:relative;
 text-align:inherit;
 top:20px;
 right:100px;
 color:#9fa8b0;
}
#header #right #content a
{
 color:#00a2d1;
}
#header #right #content a:hover
{
 color: #006699;
}

/* css for home page */

button:hover{
color:#9999CC;
}
caption{
padding-top: inherit;
font-family:"Courier New", Courier, monospace;
font-weight:bold;
font-size:18px;
}
textarea{
min-width: 350px;
}